/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* Common Styles */
body {
  font-family: "Poppins", sans-serif;
}
/* First Section Styles */
/* main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 60px;
  margin-top: 85px;
  margin-right: 150px;
} */
.introduction {
  display: flex;
}
.about-influencer {
  text-align: justify;
  width: 582px;
  height: 270px;
  /* margin-left: 60px;
  margin-top: 85px; */
  padding-left: 60px;
}
.main-camera-image {
  margin-left: 200px;
}
.influencer {
  color: red;
}
.contact {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 24px 10px 15px;
  background-color: #e02c6d;
}
/*................................................................................................ Logo Styels.......................................................................... */
.brand-logos {
  display: flex;
  margin-top: 50px;
  box-shadow: inset 0px 11px 8px -10px #ccc, inset 0px -11px 8px -10px #ccc;
}
.logo {
  padding: 50px;
}
#alibaba {
  padding-left: 75px;
}
/*...................................................................................... Product Styles...........................................................................................*/
.collection-heading {
  text-align: center;
}
.products {
  position: absolute;
  width: 329px;
  height: 550px;
  left: 196px;
  top: 1035px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.product-detail {
  font-size: 28px;
}
.price {
  font-size: 24px;
}
.rating {
  display: flex;
}
.fa-star.filled {
  color: tomato;
}
.fa-star.empty {
  color: #aeaeae;
}
.in-number {
  padding-left: 10px;
}
.after-sales {
  color: #787885;
}
